.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
@media only screen and (max-width: 700px) {
  .container {
   justify-content: center;
   margin-left: 8rem;
  }
}

.previewImage {
  height: 500px;
  width: 500px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 8px;
}


.infoSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100%;
  margin-top: 5rem;
}

.description {
  opacity: 0.7;
  font-size: 1.5rem;
  text-align: justify;
  width: 500px;
}

.imageSide {
  width: 25%;
  height: 100%;
}

.image {
  width: 85%;
  border-radius: 32px;
}

.puppets {
  border-radius: 10px;
  margin-left: 10%;
}

@media only screen and (max-width: 700px) {
  .puppets {
    width: 300px;
    height: 300px;
    align-items: center;
  }
}

.puppets2 {
  width: 1500px;
  height: 450px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, var(--color-primary) 0%, var(--color-secondary) 101.52%);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.heroBackgroundInner {
  position: absolute;
  top: -352px;
  left: 50%;
  width: clamp(1000px, calc(59.6vw + 776px), 1540px);
  aspect-ratio: 1/1;
  transform: translateX(-50%);
}

.mainButton:hover {
  opacity: 0.8;
}

.mintCompletionArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: space-between;
  margin-left: 10%;
}

.mintAreaLeft {
  margin-left: 13%;
  opacity: 0.85;
}

.mintAreaRight {
  margin-right: 35%;
  opacity: 0.85;
}

.spacerTop {
  margin-top: 16px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.buttonGapTop {
  cursor: pointer;
  margin-top: 10rem;
  margin-left: 5%;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.mintContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 24px;
  margin-bottom: 30px;
}

.textInput {
  width: 48px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
}

.quantityControlButton {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 5%;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid grey;
  color: #fff;
}

.quantityControlButton:disabled {
  opacity: 0.25;
}

.timer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: -40px;
}

.timerItem {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.timerValue {
  font-size: 2rem;
  font-weight: 600;
}

.timerLabel {
  font-size: 1rem;
  opacity: 0.75;
  margin-top: -20px;
}
.dotloader{
  margin-top: 25%;
}

@media screen and (max-width: 850px) {
/* On mobile, make the  stack vertically */
    .dotloader{
      margin-top: 50%;
    }
}



@media screen and (max-width: 850px) {
  .infoSide {
    width: 95%;
  }

  .imageSide {
    width: 80%;
  }

  .description {
    width: 90%;
  }
  .dotloader{
    margin-top: 50%;
  }
}



.heroBackground {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 300%;
  height: 300px;
}

.leftImage {
  position: absolute;
  left: 0;
  top: 0;
}

.rightImage {
  position: absolute;
  right: 0;
  top: 0;
}

.price {
  font-size: 1.1rem;
  color: rgb(128, 128, 179);
  width: 500px;
}

.quantid {
  margin-left: 40%;
}

.center {
  margin-left: 15%;
}

@media screen and (max-width: 850px) {
  .center {
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
  }
  .price {
    margin-left: 20%;
  }
}

.nft {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border: 3px solid hsla(0, 0%, 100%, 0.1);
  background-clip: padding-box;
  background-color: rgb(54, 167, 201);
  border-radius: 8px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: opacity 0.2s;
  width: 500px;
}

.nft:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 850px) {
  .nft {
    width: 300px;
  }
}
